body{
    margin: 0 auto;
    font-size: 15px;
}
.row_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00bcd4;
    position: sticky;
    top:0;
    padding: 0 50px;
    overflow: hidden;
}
.navigation{
    display: flex;
}
.logo_img{
    padding: 5px;
}
.logo_img img{
    width: 50px;
}
.button_navigation{
    padding: 10px 30px;
    font-size: 1.5em;
    background: blue;
    margin: 0 2px;
    text-decoration: none;
    color: white;
    transform: skewX(-15deg); 
}
.button_navigation > span{
    display: block;
    transform: skewX(15deg); 
}
.active{
    background: #8bc34a
}
.news_text{
    font-size: 20px;
}
.filte_news{
    background: grey;
}
.search_input{
    height: 35px;
}
.comments_user{
    margin: 25px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 15px
}
.comments_user div{
    margin: 10px auto;
}

.comments_user div>span{
    font-weight: bold;
}


.comments span{
    display: block;
}
.posts_block{
    padding: 0 15px;
}
.button_home{
    background: blue;
    padding: 5px 15px;
    color: white;
    outline: none;
    border: none;
    margin: 10px;
    cursor: pointer;
}