body{
    margin: 0 auto;
}
.row_all{
    background: url(../img/back.jpg);
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.row_all__home{
    display: flex;
    /* margin-top: 50px; */
    justify-content: center;
    /* align-items: center; */
    height: 100%;
}


.hall__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.hall{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.top__menu{
    color: white;
    background: darkcyan;
    padding: 10px;
    text-align: center
}
.hall__block{
    width: 100%;
    color: white;
}

.hall__block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 350px;
    grid-gap: 20px;
}

.hall__places{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hall__places div{
    margin: 10px;
}
.selected_place{
    background: #ff5722;
    padding: 5px;
    border-radius: 5px 0;
    display: flex;
    justify-content: space-between;
}
.price_info{
    background: #009688;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.hall_table__description{
    background: #000000b3;
    position: relative;
    height: 100%;
    padding: 10px;
}

.hall_table_bottom__block{
    display: flex;
    justify-content: space-around;
    width: 90%;
    position: absolute;
    bottom: 5%;
    margin:10px
}
.button__null{
    background: red;
    padding: 10px;
    min-height: 30px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.title__sum{
    font-weight: bold;
}

.hall_table__sum{
    /* position: absolute; */
    right: 10px;
    bottom: 5%;
    background: grey;
    padding: 10px;
    min-height: 30px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hall_table__hall{
    display: flex;
    justify-content: center;
    align-items: center;
}
.place{
    background: green;
    /* border: 1px solid red; */
    border-radius: 100% 100% 0 0;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase{
    background: gray
}